# All files not owned by other teams must be reviewed by the core team
*                                               @srinivas-narayanam/core 
package.json                                    @srinivas-narayanam/engineering
yarn.lock                                       @srinivas-narayanam/engineering
/.changeset/                                    @srinivas-narayanam/engineering
/packages/                                      @srinivas-narayanam/engineering
/integration-tests/                             @srinivas-narayanam/engineering
/docs-util/                                     @srinivas-narayanam/docs
/www/                                           @srinivas-narayanam/docs
/packages/design-system/                        @srinivas-narayanam/ui
